<div class="login-panel">
    <div class="regularuser">
        <p>COMMERCIAL USER</p>
    </div>
    <h2>Signup Your Account</h2>
    <form [formGroup]="comSignUpParam" role="form" class="d-flex flex-wrap align-items-center justify-content-between ">
        <div class="row">
            <div class="col-md-12 bottom-margin form-floating">
                <input formControlName="legalCompanyName" autofocus="" type="text" name="legalCompanyName"
                    placeholder="Registered Company Name" class="form-control" id="Registered">
                <label for="Registered">Registered Company Name</label>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['legalCompanyName']"
                        [messages]="errorMessage.legalCompanyName">
                    </app-validation-message>
                </div>
            </div>
            <div class="col-md-6 bottom-margin form-floating">
                <input formControlName="emailID" autofocus="" email type="email" name="emailID" placeholder="Email"
                    class="form-control">
                <label for="Email">Email</label>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['emailID']"
                        [messages]="errorMessage.emailID">
                    </app-validation-message>
                </div>
            </div>
            <div class="col-md-6 bottom-margin form-floating">
                <input formControlName="contactNo" autofocus="" type="text" name="contactNo" placeholder="Phone Number"
                    class="form-control">
                <label for="Phone Number">Phone Number</label>
                <div *ngIf="!idError" class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['contactNo']"
                        [messages]="errorMessage.contactNo">
                    </app-validation-message>
                </div>
                <div *ngIf="idError" class="regErrorDiv">
                    Phone number is already registered
                </div>
            </div>
            <div class="col-md-6 form-floating">
                <textarea formControlName="addressLine" autofocus="" name="addressLine" placeholder="Address"
                    class="form-control"></textarea>
                <label for="Address">Address</label>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['addressLine']"
                        [messages]="errorMessage.addressLine">
                    </app-validation-message>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 bottom-margin form-floating">
                        <input formControlName="city" autofocus="" type="text" name="city" placeholder="City"
                            class="form-control">
                        <label for="City">City</label>
                        <div class="regErrorDiv">
                            <app-validation-message [control]="comSignUpParam.controls['city']"
                                [messages]="errorMessage.city">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="col-md-12 bottom-margin form-floating">
                        <div class="form-floating selectBox"
                            [ngClass]="{selectedFormValue:comSignUpParam.value.stateName}">
                            <select class="form-select one" id="floatingStateSelect"
                                aria-label="Floating label select example" formControlName="stateName" autofocus=""
                                name="stateName">
                                <option [value]="state.stateName" *ngFor="let state of stateList">{{ state.stateName }}
                                </option>
                            </select>
                            <label for="floatingStateSelect">State</label>
                        </div>
                        <div class="regErrorDiv">
                            <app-validation-message [control]="comSignUpParam.controls['stateName']"
                                [messages]="errorMessage.stateName">
                            </app-validation-message>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bottom-margin form-floating">
                <input formControlName="landmark" autofocus="" type="text" name="landmark" placeholder="Landmark"
                    class="form-control">
                <label for="Landmark">Landmark</label>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['landmark']"
                        [messages]="errorMessage.landmark">
                    </app-validation-message>
                </div>
            </div>
            <div class="col-md-6 bottom-margin form-floating">
                <input formControlName="pinCode" autofocus="" type="text" name="pinCode" placeholder="Pincode"
                    class="form-control">
                <label for="Pincode">Pincode</label>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['pinCode']"
                        [messages]="errorMessage.pinCode">
                    </app-validation-message>
                </div>
            </div>
            <div class="col-md-6 bottom-margin form-floating position-relative">
                <input formControlName="userPassword" autofocus="" (focus)="showPasswordPolicies()"
                    (focusout)="hidePasswordPolicies()" (input)="showPasswordPolicies()"
                    [type]="showPassword === true ? 'text' : 'password'" name="password" name="userPassword"
                    id="myInput" class="form-control" placeholder="Create Password" onpaste="return false;"
                    ondrop="return false;" oncopy="return false" oncut="return false" ondrag="return false"
                    autocomplete=off />
                <label for="Create Password">Create Password</label>
                <i [ngClass]="showPassword === true ? 'bi bi-eye iPadding' : 'bi bi-eye-slash iPadding'"
                    (click)="showHidePassword()" id="Open-eyes"></i>
                <!-- <div class="regErrorDiv">
                                            <app-validation-message [control]="comSignUpParam.controls['userPassword']"
                                                [messages]="errorMessage.userPassword">
                                            </app-validation-message>
                                        </div> -->
                <div *ngIf="isAnyError()" class="regErrorDiv">
                    Password policy does not matched
                </div>
                <div *ngIf="isRequiredError()" class="regErrorDiv">
                    Password is required
                </div>
                <div *ngIf="isShowPasswordPolicy" class="passwordCnd" style="z-index: 10">
                    <label class="labelPosition"
                        [ngClass]="comSignUpParam.controls['userPassword'].hasError('required') || comSignUpParam.controls['userPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons" style="position: unset; color: unset;">
                            {{ comSignUpParam.controls['userPassword'].hasError('required') ||
                            comSignUpParam.controls['userPassword'].hasError('minlength') ?
                            'cancel'
                            :
                            'check_circle' }}
                        </i>
                        Must be at least 8 characters!
                    </label>
                    <label class="col labelPosition"
                        [ngClass]="comSignUpParam.controls['userPassword'].hasError('required') || comSignUpParam.controls['userPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons" style="position: unset; color: unset;">
                            {{ comSignUpParam.controls['userPassword'].hasError('required') ||
                            comSignUpParam.controls['userPassword'].hasError('hasNumber') ?
                            'cancel'
                            :
                            'check_circle' }}
                        </i>
                        Must contain at least 1 number!
                    </label>
                    <label class="col labelPosition"
                        [ngClass]="comSignUpParam.controls['userPassword'].hasError('required') || comSignUpParam.controls['userPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons" style="position: unset; color: unset;">
                            {{ comSignUpParam.controls['userPassword'].hasError('required') ||
                            comSignUpParam.controls['userPassword'].hasError('hasCapitalCase') ?
                            'cancel' :
                            'check_circle' }}
                        </i>
                        Must contain at least 1 Capital letter!
                    </label>
                    <label class="col labelPosition"
                        [ngClass]="comSignUpParam.controls['userPassword'].hasError('required') || comSignUpParam.controls['userPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons" style="position: unset; color: unset;">
                            {{ comSignUpParam.controls['userPassword'].hasError('required') ||
                            comSignUpParam.controls['userPassword'].hasError('hasSmallCase') ?
                            'cancel' :
                            'check_circle' }}
                        </i>
                        Must contain at least 1 Small letter!
                    </label>
                    <label class="col labelPosition"
                        [ngClass]="comSignUpParam.controls['userPassword'].hasError('required') || comSignUpParam.controls['userPassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                        <i class="material-icons" style="position: unset; color: unset;">
                            {{ comSignUpParam.controls['userPassword'].hasError('required') ||
                            comSignUpParam.controls['userPassword'].hasError('hasSpecialCharacters')
                            ? 'cancel' :
                            'check_circle' }}
                        </i>
                        Must contain at least 1 Special Character!
                    </label>
                </div>
            </div>
            <div class="col-md-6 bottom-margin form-floating position-relative">
                <input formControlName="confirmPassword" autofocus=""
                    [type]="showConfirmPassword === true ? 'text' : 'password'" name="password" name="confirmPassword"
                    class="form-control" id="myInput1" placeholder="Confirm Password" onpaste="return false;"
                    ondrop="return false;" oncopy="return false" oncut="return false" ondrag="return false"
                    autocomplete=off />
                <label for="Confirm Password">Confirm Password</label>
                <i [ngClass]="showConfirmPassword === true ? 'bi bi-eye iPadding' : 'bi bi-eye-slash iPadding'"
                    (click)="showHideConfirmPassword()" id="Open-eyes"></i>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['confirmPassword']"
                        [messages]="errorMessage.confirmPassword">
                    </app-validation-message>
                </div>
                <div *ngIf="passwordMissmatchError" class="passErrorDiv">
                    Password do not matched
                </div>
            </div>
            <div class="col-md-12 bottom-margin">
                <div class="form-floating selectBox"
                    [ngClass]="{selectedFormValue:comSignUpParam.value.commercialType}">
                    <select class="form-select one ng-pristine ng-invalid ng-touched" id="floatingSelect"
                        aria-label="Floating label select example" formControlName="commercialType" autofocus=""
                        name="CommercialType">
                        <option [value]="commercialType.commercialTypeCode"
                            *ngFor="let commercialType of allCommercialType">{{
                            commercialType.commercialTypeDescription }}
                        </option>
                    </select>
                    <label for="floatingSelect">Commercial Type</label>
                </div>
                <div class="regErrorDiv">
                    <app-validation-message [control]="comSignUpParam.controls['commercialType']"
                        [messages]="errorMessage.commercialType">
                    </app-validation-message>
                </div>
                <div class="regErrorDiv"></div>
            </div>
            <div class="col-md-6 bottom-margin mt-2">
                <button type="submit" (click)="sendOTP(comSignUpParam.value, comSignUpParam.valid)">
                    Submit for OTP
                </button>
            </div>
            <div class="col-md-6 bottom-margin mt-4 verticalCenter">
                <label>Already Registered? <a style="cursor: pointer" (click)="navigate()">Login</a> here</label>
            </div>
        </div>
    </form>
    <div class="modal-content" *ngIf="setOTPModal">
        <div class="modal customModal" tabindex="-1" role="dialog">
            <app-otp-validation [screenCode]="screenCode" [transactionID]="transactionID" [formData]="formData"
                (closeOTP)="closeOTP()" (resetLogin)="navigate()">
            </app-otp-validation>
        </div>
    </div>
</div>