<div class="container">
    <div class="modal-content">
      <div class="close" (click)="closePopup()">
        <i class="bi-x-circle-fill" ></i>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, quasi blanditiis illum natus aliquid ut, labore quam delectus incidunt perspiciatis sed porro voluptatibus accusamus dolor, beatae dolores iste deserunt iusto.
        </p>
      </div>
    </div>
  </div>