<div id="Change" class="tabcontent">
    <router-outlet>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
        </ngx-spinner>
    </router-outlet>
    <div class="row">
        <div class="col-md-7">
            <form [formGroup]="changePasswordParam" role="form">
                <div class="chenge-pass">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input formControlName="oldPassword" class="form-control" id="floatingInput"
                                    placeholder="oldPassword" autofocus=""
                                    [type]="showOldPassword === true ? 'text' : 'password'" name="id_number"
                                    name="password">
                                <label>Old Password</label>
                                <i [ngClass]="showOldPassword === true ? 'bi bi-eye iPadding' : 'bi bi-eye-slash iPadding'"
                                    (click)="showHideOldPassword()" id="Open-eyes"></i>
                            </div>
                            <div class="errDiv">
                                <app-validation-message [control]="changePasswordParam.controls['oldPassword']"
                                    [messages]="errorMessage.oldPassword">
                                </app-validation-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input formControlName="newPassword" placeholder="New Password" autofocus=""
                                    class="form-control" id="floatingInput"
                                    [type]="showPassword === true ? 'text' : 'password'" name="id_number"
                                    name="new-Password" (focus)="showPasswordPolicies()"
                                    (focusout)="hidePasswordPolicies()" (input)="showPasswordPolicies()"
                                    onpaste="return false;" ondrop="return false;" oncopy="return false"
                                    oncut="return false" ondrag="return false" autocomplete=off>
                                <label>New Password</label>
                                <i [ngClass]="showPassword === true ? 'bi bi-eye iPadding' : 'bi bi-eye-slash iPadding'"
                                    (click)="showHidePassword()" id="Open-eyes"></i>
                            </div>
                            <div *ngIf="isShowPasswordPolicy" class="passwordCnd">
                                <label class="labelPosition"
                                    [ngClass]="changePasswordParam.controls['newPassword'].hasError('required') || changePasswordParam.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                    <i class="material-icons" style="position: unset; color: unset;">
                                        {{ changePasswordParam.controls['newPassword'].hasError('required') ||
                                        changePasswordParam.controls['newPassword'].hasError('minlength') ?
                                        'cancel'
                                        :
                                        'check_circle' }}
                                    </i>
                                    Must be at least 8 characters!
                                </label>
                                <label class="col labelPosition"
                                    [ngClass]="changePasswordParam.controls['newPassword'].hasError('required') || changePasswordParam.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                    <i class="material-icons" style="position: unset; color: unset;">
                                        {{ changePasswordParam.controls['newPassword'].hasError('required') ||
                                        changePasswordParam.controls['newPassword'].hasError('hasNumber') ?
                                        'cancel'
                                        :
                                        'check_circle' }}
                                    </i>
                                    Must contain at least 1 number!
                                </label>
                                <label class="col labelPosition"
                                    [ngClass]="changePasswordParam.controls['newPassword'].hasError('required') || changePasswordParam.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                    <i class="material-icons" style="position: unset; color: unset;">
                                        {{ changePasswordParam.controls['newPassword'].hasError('required') ||
                                        changePasswordParam.controls['newPassword'].hasError('hasCapitalCase') ?
                                        'cancel' :
                                        'check_circle' }}
                                    </i>
                                    Must contain at least 1 Capital letter!
                                </label>
                                <label class="col labelPosition"
                                    [ngClass]="changePasswordParam.controls['newPassword'].hasError('required') || changePasswordParam.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                    <i class="material-icons" style="position: unset; color: unset;">
                                        {{ changePasswordParam.controls['newPassword'].hasError('required') ||
                                        changePasswordParam.controls['newPassword'].hasError('hasSmallCase') ?
                                        'cancel' :
                                        'check_circle' }}
                                    </i>
                                    Must contain at least 1 Small letter!
                                </label>
                                <label class="col labelPosition"
                                    [ngClass]="changePasswordParam.controls['newPassword'].hasError('required') || changePasswordParam.controls['newPassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                    <i class="material-icons" style="position: unset; color: unset;">
                                        {{ changePasswordParam.controls['newPassword'].hasError('required') ||
                                        changePasswordParam.controls['newPassword'].hasError('hasSpecialCharacters')
                                        ? 'cancel' :
                                        'check_circle' }}
                                    </i>
                                    Must contain at least 1 Special Character!
                                </label>
                            </div>
                            <div class="errDiv">
                                <div *ngIf="isAnyError()">
                                    Password policy does not matched
                                </div>
                                <div *ngIf="isRequiredError()">
                                    Password is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input formControlName="confirmPassword" placeholder="Confirm New Password"
                                    class="form-control" id="floatingInput" autofocus=""
                                    [type]="showConfirmPassword === true ? 'text' : 'password'" type="text"
                                    name="id_number" name="confirm-Password" onpaste="return false;"
                                    ondrop="return false;" oncopy="return false" oncut="return false"
                                    ondrag="return false" autocomplete=off>
                                <label>Confirm New Password</label>
                                <i [ngClass]="showConfirmPassword === true ? 'bi bi-eye iPadding' : 'bi bi-eye-slash iPadding'"
                                    (click)="showHideConfirmPassword()" id="Open-eyes"></i>
                            </div>
                            <div class="errDiv">
                                <app-validation-message [control]="changePasswordParam.controls['confirmPassword']"
                                    [messages]="errorMessage.confirmPassword">
                                </app-validation-message>
                            </div>
                        </div>
                    </div>
                    <div class="validation-div errDiv">
                        <div *ngIf="changePasswordError">
                            <span>{{changePasswordError}}</span>
                        </div>
                    </div>
                    <div class="validation-div errDiv">
                        <div *ngIf="passwordMissmatchError">
                            Confirm Password does not match with New Password
                        </div>
                    </div>
                    <button (click)="handlePassword(changePasswordParam.value, changePasswordParam.valid)"
                        class="req-otp mt-2">Change Password</button>
                </div>
            </form>
        </div>
    </div> 
</div>