<div class="tabcontent">
    <div class="row">
        <div class="col-md-4">
            <div class="box"></div>
        </div>
        <div class="col-md-4">
            <div class="EHR">
                <div class="forehead">
                    <div class="headPoint Point"></div>
                </div>
                <div class="eye">
                    <div class="earRight"></div>
                    <div class="eyeRight">
                        <div class="Point"></div>
                    </div>
                    <div class="eyeLeft"></div>
                    <div class="earLeft">
                        <div class="Point"></div>
                    </div>
                </div>
                <div class="nose">
                    <div class="facies">
                        <div class="Point faciesPoint"></div>
                    </div>
                    <div class="noseMain">
                        <div class="Point nosePoint"></div>
                    </div>
                </div>
                <div class="mouth">
                    <div class="Point mouthPoint"></div>
                </div>
                <div class="neck">
                    <div class="Point neckPoint"></div>
                </div>
                <div class="chest">
                    <div class="Point chestPoint"></div>
                </div>
                <div class="brachium">
                    <div class="Point brachiumPoint"></div>
                </div>
                <div class="forearm">
                    <div class="Point forearmPoint"></div>
                </div>
                <div class="hand">
                    <div class="Point handPoint"></div>
                </div>
                <div class="thigh">
                    <div class="Point thighPoint"></div>
                </div>
                <div class="patella">
                    <div class="Point patellaPoint"></div>
                </div>
                <div class="crus">
                    <div class="Point crusPoint"></div>
                </div>
                <div class="Tarsus">
                    <div class="Point TarsusPoint"></div>
                </div>
                <div class="foot">
                    <div class="Point footPoint"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box"></div> 
        </div>
    </div>
</div>