<div class="tabcontent">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <table class="w-100">
                    <tr>
                        <td><b>Vital Stats</b></td>
                        <td>:</td>
                        <td>Last Updated : 16/02</td>
                    </tr>
                </table>
                <table class="w-100" style="margin-left: 10px;">
                    <tr>
                        <td>Height</td>
                        <td>:</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>:</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>BMI</td>
                        <td>:</td>
                        <td>----</td>
                    </tr>
                    <tr>
                        <td>Blood Pressure</td>
                        <td>:</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>SPO2</td>
                        <td>:</td>
                        <td>---</td>
                    </tr>
                </table>
            </div>
            <div class="DataBox">
                <h2>Name of the area</h2>
                <div class="details">
                    <p>- Diagnosys details</p>
                    <span> - Dr. Name , # of visits </span>
                </div>
                <div class="details">
                    <p>- Dosage details</p>
                    <p>: Medicine + reco</p>
                    <p>: Non clinical reco</p>
                </div>
                <button>Load More....</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="EHR">
                <div class="forehead">
                    <div class="headPoint Point"></div>
                </div>
                <div class="eye">
                    <div class="earRight"></div>
                    <div class="eyeRight">
                        <div class="Point"></div>
                    </div>
                    <div class="eyeLeft"></div>
                    <div class="earLeft">
                        <div class="Point"></div>
                    </div>
                </div>
                <div class="nose">
                    <div class="facies">
                        <div class="Point faciesPoint"></div>
                    </div>
                    <div class="noseMain">
                        <div class="Point nosePoint"></div>
                    </div>
                </div>
                <div class="mouth">
                    <div class="Point mouthPoint"></div>
                </div>
                <div class="neck">
                    <div class="Point neckPoint"></div>
                </div>
                <div class="chest">
                    <div class="Point chestPoint"></div>
                </div>
                <div class="brachium">
                    <div class="Point brachiumPoint"></div>
                </div>
                <div class="forearm">
                    <div class="Point forearmPoint"></div>
                </div>
                <div class="hand">
                    <div class="Point handPoint"></div>
                </div>
                <div class="thigh">
                    <div class="Point thighPoint"></div>
                </div>
                <div class="patella">
                    <div class="Point patellaPoint"></div>
                </div>
                <div class="crus">
                    <div class="Point crusPoint"></div>
                </div>
                <div class="Tarsus">
                    <div class="Point TarsusPoint"></div>
                </div>
                <div class="foot">
                    <div class="Point footPoint"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="d-flex w-100 justify-content-between">
                    <p>Recent Visits :</p>
                    <p>(1) Consultation on 16/02 :</p>
                </div>

                <div class="d-flex w-100 justify-content-between">
                    <p> Symptom :</p>
                    <p>Chest Congession, High fever</p>
                </div>

                <div class="d-flex w-100 justify-content-between">
                    <p>Consultant :</p>
                    <p>Dr. Neelanjana Roy <i class="bi-caret-down-fill"></i></p>
                </div>

                <div class="d-flex w-100 justify-content-between">
                    <p>Diagnosis :</p>
                    <p>Medicines, Lab tests</p>
                </div>

                <p>(2) Consultation on 20/01 :</p>
            </div>
        </div>
    </div>
</div>