<div id="myProfile" class="Information">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="d-flex align-items-center">
                <span>{{ profileIndex }}</span>
                <h1>Physician Credentials</h1>
            </div>
        </div>
    </div>
    <form [formGroup]="physicianCredentialsParam" role="form">
        <div class="row">
            <div class="col-md-6 my-2">
                <div class="form-floating ">
                    <input formControlName="physicianQualification" autofocus="" type="text" name="physicianQualification"
                        placeholder="Medical Degree" id="physicianQualification" class="form-control">
                    <label for="physicianQualification">Medical Degree</label>
                    <div class="regErrorDiv">
                        <app-validation-message [control]="physicianCredentialsParam.controls['physicianQualification']"
                            [messages]="errorMessage.physicianQualification">
                        </app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-floating ">
                    <input formControlName="physicianSpecialisation" autofocus="" type="text" name="physicianSpecialisation"
                        placeholder="physicianSpecialisation" id="physicianSpecialisation" class="form-control">
                    <label for="physicianSpecialisation">Specialization</label>
                    <div class="regErrorDiv">
                        <app-validation-message [control]="physicianCredentialsParam.controls['physicianSpecialisation']"
                            [messages]="errorMessage.physicianSpecialisation">
                        </app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-floating ">
                    <input formControlName="registrationNumber" autofocus="" type="text" name="RegistrationNumber"
                        placeholder="Registration Number" id="registrationNumber" class="form-control">
                    <label for="registrationNumber">Registration Number</label>
                    <div class="regErrorDiv">
                        <app-validation-message [control]="physicianCredentialsParam.controls['registrationNumber']"
                            [messages]="errorMessage.registrationNumber">
                        </app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-floating ">
                    <input formControlName="registrationAuthority" autofocus="" type="text" name="RegistrationAuthority"
                        placeholder="Registration Authority" id="registrationAuthority" class="form-control">
                    <label for="registrationAuthority">Registration Authority</label>
                    <div class="regErrorDiv">
                        <app-validation-message [control]="physicianCredentialsParam.controls['registrationAuthority']"
                            [messages]="errorMessage.registrationAuthority">
                        </app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-2 text-end">
                <input (click)="save(physicianCredentialsParam.value, physicianCredentialsParam.valid)" type="submit"
                    value="Save & Continue">
            </div>
        </div>
    </form>
</div>