#MyHealthReport {
    /* margin-top: 20px; */
}

#MyHealthReport .contentDisplay {
    width: 100%;
    height: auto;
    padding: 49px 39px;
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.46);
    box-shadow: 0px 4px 4px rgba(113, 59, 219, 0.03);
    border-radius: 27px;
}

#MyHealthReport h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #434242;
    margin: 15px 3px;
}

.patientDetails {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid rgba(231, 168, 20, 0.19);
    box-shadow: 0px 16px 34px -6px rgba(199, 148, 29, 0.19);
    border-radius: 10px;
}

#MyHealthReport .contentDisplay .name h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 110%;
    color: #484747;
}

#MyHealthReport .contentDisplay .name p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #484747;
    margin: 0;
}

#MyHealthReport .contentDisplay .patientDetails label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #484747;
}

input,
select {
    color: #000 !important;
}

#MyHealthReport .contentDisplay .patientDetails h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    color: #484747;
    padding: 0px 7px;
}

#MyHealthReport .contentDisplay .patientDetails .Pressure {
    border-left: 1px solid rgba(237, 183, 56, 0.4);
    height: 91.3%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 39px 10px;
}

#MyHealthReport .contentDisplay .patientDetails .Height-Weight {
    border-left: 1px solid rgba(237, 183, 56, 0.4);
    height: 91.3%;
    width: 100%;
    padding: 57px 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#MyHealthReport .contentDisplay .patientDetails .Smoking {
    border-left: 1px solid rgba(237, 183, 56, 0.4);
    height: 91.3%;
    width: 100%;
    padding: 57px 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#MyHealthReport .contentDisplay .patientDetails .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91.3%;
    width: 100%;
}

#DateFilter .price-range-slider {
    width: 100%;
    padding: 5px 0px 47px 12px;
}

#DateFilter .range-value {
    margin: 0;
}

#DateFilter input {
    width: 100%;
    background: none;
    box-shadow: none;
    border: none;
    margin: 0px 0 15px 0;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3B68DB;
}

#DateFilter .range-bar {
    height: 14px;
    width: 98%;
    background: rgba(59, 104, 219, 0.21);
    box-shadow: 0px 4px 4px rgb(59 104 219 / 11%);
    border-radius: 8px;
}

#DateFilter .ui-slider-range {
    background: #3B68DB;
    border-radius: 8px;
}

#DateFilter .ui-slider-handle {
    border-radius: 25px;
    top: -0.52em;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #3B68DB;
    box-shadow: 0px 4px 4px rgb(59 104 219 / 20%);
}

#DateFilter .ui-slider-handle+span {
    background: #06b9c0;
}

.MyHealthTab {
    float: left;
    background: #713BDB;
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    border-radius: 7px;
    width: 49px;
    height: 1048px;
}

.MyHealthTab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    height: 100%;
    border-radius: 7px;
    position: relative;
}

.MyHealthTab button p {
    width: 330px;
    transform: rotate(270deg);
    left: -141px;
    top: 150px;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 154%;
    color: #FFFFFF;
}

.MyHealthTab button.Healthactive {
    display: none;
}

.MyHealthTabcontent {
    float: left;
    padding: 25px 0px;
    width: 100%;
    height: 100%;
}

.MyHealthTabcontent h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 110%;
    color: #3E3C3C;
    padding-top: 15px;
}

.MyHealthTabcontent label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(105, 102, 102, 0.74);
}

#Physician .form-control:focus {
    box-shadow: unset;
}

#Physician .form-floating input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(16, 15, 15, 0.988);
}

#Physician .DoctorList {
    width: 100%;
    height: 809px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid rgba(234, 229, 243, 0.54);
    box-shadow: 0px 12px 53px -24px rgb(134 87 226 / 63%);
    border-radius: 12px;
    padding: 20px 16px;
    margin-top: 53px;
}

#Physician .DoctorList::-webkit-scrollbar {
    width: 6px;
}

#Physician .DoctorList::-webkit-scrollbar-thumb {
    background: #713BDB;
    border-radius: 3px;
}

#Physician .DoctorList::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.38);
    box-shadow: 0px 4px 4px rgba(173, 181, 239, 0.58);
    border-radius: 32px;
}

#Physician .DoctorList .accordion-button:focus {
    box-shadow: unset;
}

#Physician .DoctorList .accordion-button {
    box-shadow: unset !important;
}

#Physician .DoctorList .collapsed {
    border-top: 1px solid rgba(231, 168, 20, 0.51);
    border-bottom: 0px solid rgba(231, 168, 20, 0.51);
    border-right: unset !important;
    border-left: unset !important;
    background: rgba(255, 255, 255, 0.79) !important;
    box-shadow: unset !important;
    border-radius: unset !important;
    padding: 28px 20px !important;
}

#Physician .DoctorList .accordion-button {
    background: rgba(255, 244, 219, 0.79);
    border-top: 1px solid rgba(231, 168, 20, 0.51);
    border-left: 1px solid rgba(231, 168, 20, 0.51);
    border-right: 1px solid rgba(231, 168, 20, 0.51);
    box-shadow: 0px 11px 34px -5px rgb(215 167 55 / 19%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Physician .DoctorList .accordion-button:not(.collapsed) {
    background-color: unset !important;
}

#Physician .DoctorList .show {
    border-bottom: 1px solid rgba(231, 168, 20, 0.51);
    border-left: 1px solid rgba(231, 168, 20, 0.51);
    border-right: 1px solid rgba(231, 168, 20, 0.51);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Physician .DoctorList .accordion-button::after {
    content: "\f107";
    background-color: #E7A814;
    box-shadow: 0px 4px 8px rgb(225 173 50 / 79%);
    border-radius: 50px;
    width: 24px;
    height: 24px;
    padding: 4px 6px;
    background-image: unset !important;
    transition: 0.6s !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 18px;
}

#Physician .DoctorList .accordion-button:not(.collapsed)::after {
    background-image: unset !important;
    box-shadow: 0px -4px 8px rgb(225 173 50 / 79%) !important;
    transition: 0.6s !important;
}

#Physician .DoctorList .accordion-button h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: #404040;
}

#Physician .DoctorList .accordion-button p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
    color: #545050;
    margin: 0;
}

#Physician .DoctorList .accordion-button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    color: #000000;
}

#Physician .DoctorList .accordion-button .w-100 {
    padding-right: 63px;
}

#Physician .DoctorList .accordion-body label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 138.5%;
    color: #404040;
}

#Physician .DoctorList .accordion-body div {
    margin-bottom: 20px;
}

#Physician .DoctorList .accordion-body p {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154%;
    color: #404040;
}

#Physician .DoctorList .accordion-body {
    padding: 1px 20px !important;
}

.Schedule {
    width: 100%;
    height: auto;
    background: #F2ECFF;
    border: 1px solid rgba(113, 59, 219, 0.19);
    box-shadow: 0px 16px 34px -6px rgba(113, 59, 219, 0.19);
    border-radius: 10px;
    padding: 27px 0px 0px 0px;
}

.Schedule h3 {
    padding: 0px 26px;
}

.Schedule .accordion {
    --bs-accordion-bg: unset;
}

.Schedule .accordion-item {
    border: none;
    border-bottom: 1px solid rgba(113, 59, 219, 0.19);
    border-radius: unset;
}

.Schedule .accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: unset;
    padding: 12px 26px 15px 26px;
    color: #404040;
}

.Schedule .accordion-item:last-of-type .accordion-button.collapsed {
    padding: 12px 0px 15px 0px;
}

.Schedule .accordion-body {
    padding: 3px 26px 27px 26px;
}

.Schedule .accordion-button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    color: #713BDB;
    display: block;
}

.Schedule .accordion-button h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116.5%;
    color: #404040;
}

.Schedule .accordion-button:not(.collapsed)::after {
    background-image: unset !important;
    box-shadow: 0px -4px 8px rgba(113, 59, 219, 0.51) !important;
    transition: 0.6s !important;
}

.accordion-button::after {
    content: "\f107";
    background-color: #713BDB;
    box-shadow: 0px 4px 8px rgba(113, 59, 219, 0.51);
    border-radius: 50px;
    width: 24px;
    height: 24px;
    padding: 4px 6px;
    background-image: unset !important;
    transition: 0.6s !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 18px;
}

.Schedule .accordion-body button {
    padding: 18px 19px;
    background: #713BDB;
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.Schedule .accordion-body .Cancel {
    background: none;
    border: 1px solid rgba(113, 59, 219, 0.74);
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    border-radius: 7px;
    color: #713BDB;
}

.Schedule .accordion-button {
    padding: 12px 26px 15px 26px;
}

.Schedule .missing {
    border-color: rgba(255, 200, 200, 0.79) !important;
}

.Schedule .missing .collapsed {
    background: unset !important;
    border-radius: unset !important;
}

.Schedule .missing .show {
    background: rgba(255, 200, 200, 0.79);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Schedule .missing span {
    color: #E65A66;
}

.Schedule .missing .accordion-button {
    background: rgba(255, 200, 200, 0.79);
    border: 0px solid rgba(218, 218, 218, 0.46);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.Schedule .missing button {
    background: #EE5765;
    box-shadow: 0px 11px 34px -5px #FCCFD3;
}

.Schedule .missing .Cancel {
    border: 1px solid #EE5765;
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    color: #E65A66;
}

.Schedule .missing .accordion-button:not(.collapsed)::after {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(252, 207, 211, 0.78);
    color: #E65A66;
    box-shadow: unset !important;
}

.Schedule .missing .accordion-button::after {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(252, 207, 211, 0.78);
    color: #E65A66;
    box-shadow: unset !important;
}

.Schedule .accordion-item:last-child {
    border: none !important;
}

#MyHealthReport #Laboratory .dateSchedule .calendar {
    width: 100%;
    height: 290px;
    overflow: auto;
    background: #F6F7FF;
    box-shadow: 0px 4px 5px rgba(113, 59, 219, 0.12);
    border-radius: 12px;
    padding: 12px 12px;
    position: relative;
}

#MyHealthReport #Laboratory .dateSchedule .calendar .selectedDates {
    background-color: #713BDB !important;
    color: #fff !important;
}

#MyHealthReport #Laboratory .dateSchedule .calendar .day {
    width: 74px;
    height: 59px;
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid rgba(166, 161, 175, 0.54);
    box-shadow: 0px 12px 53px -24px rgba(134, 87, 226, 0.63);
    border-radius: 9px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    color: #3E3E3F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
}

#MyHealthReport #Laboratory .dateSchedule .calendar button {
    background: none;
    border: none;
    position: absolute;
    bottom: 8px;
    right: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 184.5%;
    text-align: center;
    color: #713BDB;
}

.calendarSchedule .DateTestDetails h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 116.5%;
    color: #404040;
    margin: 0;
}

.DetailsList h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 116.5%;
    color: #404040;
    margin: 0;
}

.DetailsList i {
    padding-right: 4px;
    color: #713BDB;
    font-size: 20px;
}

.DetailsList {
    cursor: pointer;
}

.calendarSchedule .DateTestDetails i {
    padding-right: 4px;
    color: #713BDB;
    font-size: 20px;
}

#MyHealthReport #Laboratory .dateSchedule .footer-btn button {
    padding: 17px 31px;
    background: none;
    color: #713BDB;
    border: 1px solid rgba(113, 59, 219, 0.74);
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    margin-left: 6px;
    border-radius: 7px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 110%;
}

#MyHealthReport #Laboratory .dateSchedule .footer-btn .active {
    background: #713BDB;
    color: #fff;
    border-color: #713BDB;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.79);
    border: 2px solid rgba(174, 140, 239, 0.54);
    box-shadow: 0px 12px 53px -24px rgba(134, 87, 226, 0.63);
    border-radius: 12px;
    padding: 11px 11px 15px 11px;
}

#MyHealthReport #Laboratory .dateSchedule .DateTestDetails {
    height: 850px;
    overflow-x: hidden;
    overflow-y: auto;
}

#MyHealthReport #Laboratory .dateSchedule .DateTestDetails::-webkit-scrollbar {
    width: 6px;
}

#MyHealthReport #Laboratory .dateSchedule .DateTestDetails::-webkit-scrollbar-thumb {
    background: #713BDB;
    border-radius: 3px;
}

#MyHealthReport #Laboratory .dateSchedule .DateTestDetails::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.38);
    border-radius: 32px;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .accordion-button:focus {
    box-shadow: unset !important;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .accordion-button:not(.collapsed) {
    box-shadow: unset !important;
    background-color: unset !important;
    color: #404040;
    margin-bottom: 15px;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .accordion-button {
    padding: 0;
    background-color: unset;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: #404040;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .accordion-body {
    padding: 0;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .accordion-item {
    width: 100%;
    background: #F6F7FF;
    border: 1px solid rgba(174, 140, 239, 0.35);
    box-shadow: 0px 12px 53px -24px rgb(134 87 226 / 63%);
    border-radius: 9px;
    padding: 11px 11px;
    margin-bottom: 10px;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .accordion-button i {
    padding-right: 4px;
    color: #713BDB;
    font-size: 20px;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    color: #404040;
    margin-top: 0;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry {
    width: 100%;
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid rgba(174, 140, 239, 0.35);
    box-shadow: 0px 12px 53px -24px rgba(134, 87, 226, 0.63);
    border-radius: 6px;
    padding: 11px 11px 8px 11px;
    margin-bottom: 5px;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    color: #713BDB;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 80%;
    word-wrap: break-word;
    word-break: break-all;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry p,
#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 167.5%;
    color: #545050;
    margin: 0;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry label::before {
    content: "\f633";
    display: inline-block;
    font-display: block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.19em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 2px;
    font-size: 10px;
    color: #713BDB;
}

#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry .bi-dot::before {
    content: "\f519";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.260em;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding-left: 2px;
}
.bi-dot-red{
    color: #F24848 !important;
}
.bi-dot-green{
    color: #419c47 !important;
}


#MyHealthReport #Laboratory .dateSchedule .calendarSchedule .Biochemistry .bi-dot {
    font-size: unset !important;
}

#MyHealthReport #Laboratory .dateSchedule .calendar .testCategory {
    /* padding: 36px 0px; */
}

#MyHealthReport #Laboratory .dateSchedule .calendar .testCategory label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #713BDB;
    cursor: pointer;
    padding-left: 4px;
}

#MyHealthReport #Laboratory .dateSchedule .calendar .testCategory input[type="checkbox"] {
    vertical-align: -0.09em;
    cursor: pointer;
}

#MyHealthReport #Laboratory .dateSchedule .testDetails p::after {
    content: unset !important;
}

#MyHealthReport #Laboratory .dateSchedule .testDetails span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 184.5%;
    text-align: center;
    color: #713BDB;
}

.Schedule {
    width: 100%;
    height: auto;
    background: #F2ECFF;
    border: 1px solid rgba(113, 59, 219, 0.19);
    box-shadow: 0px 16px 34px -6px rgba(113, 59, 219, 0.19);
    border-radius: 10px;
    padding: 27px 0px 0px 0px;
}

.Schedule h3 {
    padding: 0px 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 110%;
    color: #3E3C3C;
}

.Schedule .accordion {
    --bs-accordion-bg: unset;
}

.Schedule .accordion-item {
    border: none;
    border-bottom: 1px solid rgba(113, 59, 219, 0.19);
    border-radius: unset;
}

.Schedule .accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: unset;
    padding: 12px 26px 15px 26px;
    color: #404040;
}

.Schedule .accordion-item:last-of-type .accordion-button.collapsed {
    padding: 12px 26px 15px 26px;
}

.Schedule .accordion-body {
    padding: 3px 26px 27px 26px;
}

.Schedule .accordion-button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    color: #713BDB;
    display: block;
}

.Schedule .accordion-button h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116.5%;
    color: #404040;
}

.Schedule .accordion-button:not(.collapsed)::after {
    background-image: unset !important;
    box-shadow: 0px -4px 8px rgba(113, 59, 219, 0.51) !important;
    transition: 0.6s !important;
}

.accordion-button::after {
    content: "\f107";
    background-color: #713BDB;
    box-shadow: 0px 4px 8px rgba(113, 59, 219, 0.51);
    border-radius: 50px;
    width: 24px;
    height: 24px;
    padding: 4px 6px;
    background-image: unset !important;
    transition: 0.6s !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 18px;
}

.Schedule .accordion-body button {
    padding: 18px 19px;
    background: #713BDB;
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    border-radius: 7px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.Schedule .accordion-body .Cancel {
    background: none;
    border: 1px solid rgba(113, 59, 219, 0.74);
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    border-radius: 7px;
    color: #713BDB;
}

.Schedule .accordion-button {
    padding: 12px 26px 15px 26px;
}

.Schedule .missing {
    border-color: rgba(255, 200, 200, 0.79) !important;
}

.Schedule .missing .collapsed {
    background: unset !important;
    border-radius: unset !important;
}

.Schedule .missing .show {
    background: rgba(255, 200, 200, 0.79);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Schedule .missing span {
    color: #E65A66;
}

.Schedule .missing .accordion-button {
    background: rgba(255, 200, 200, 0.79);
    border: 0px solid rgba(218, 218, 218, 0.46);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.Schedule .missing button {
    background: #EE5765;
    box-shadow: 0px 11px 34px -5px #FCCFD3;
}

.Schedule .missing .Cancel {
    border: 1px solid #EE5765;
    box-shadow: 0px 11px 34px -5px rgba(113, 59, 219, 0.4);
    color: #E65A66;
}

.Schedule .missing .accordion-button:not(.collapsed)::after {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(252, 207, 211, 0.78);
    color: #E65A66;
    box-shadow: unset !important;
}

.Schedule .missing .accordion-button::after {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(252, 207, 211, 0.78);
    color: #E65A66;
    box-shadow: unset !important;
}

.Laboratory {
    height: 100%;
    background: #F2ECFF;
    border: 1px solid rgba(113, 59, 219, 0.19);
    box-shadow: 0px 16px 34px -6px rgba(113, 59, 219, 0.19);
    border-radius: 10px;
    padding: 11px 9px 39px 9px;
    position: relative;
}

.LaboratoryTest {
    width: 100%;
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid rgba(174, 140, 239, 0.54);
    box-shadow: 0px 12px 53px -24px rgba(134, 87, 226, 0.63);
    border-radius: 12px;
    padding: 25px 14px 14px 14px;
}

.LaboratoryTest::-webkit-scrollbar {
    width: 6px;
}

.LaboratoryTest::-webkit-scrollbar-thumb {
    background: #713BDB;
    border-radius: 3px;
}

.LaboratoryTest::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.38);
    box-shadow: 0px 4px 4px rgba(173, 181, 239, 0.58);
    border-radius: 32px;
}

.LaboratoryTest h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: #3E3C3C;
}

.LaboratoryTest input {
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid rgba(218, 218, 218, 0.46);
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.LaboratoryTest label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(105, 102, 102, 0.74);
    padding: 20px 13px;
}

.LaboratoryTest .form-control:focus {
    box-shadow: unset;
    border-color: rgba(174, 140, 239, 0.54);
}

.LaboratoryTest #DateFilter .ui-slider-handle {
    width: 20px;
    height: 20px;
    top: -6px;
}

.LaboratoryTest #DateFilter .range-bar {
    height: 11px;
}

.LaboratoryTest #DateFilter .price-range-slider {
    padding: 5px 0px 26px 12px;
}

.LaboratoryTest .LaboratoryTestlist {
    width: 100%;
    background: #F6F7FF;
    box-shadow: 0px 4px 5px rgba(113, 59, 219, 0.12);
    border-radius: 12px;
    margin-top: 10px;
    height: 809px;
    overflow: auto;
}

.LaboratoryTest .LaboratoryTestlist::-webkit-scrollbar {
    width: 6px;
}

.LaboratoryTest .LaboratoryTestlist::-webkit-scrollbar-thumb {
    background: #713BDB;
    border-radius: 3px;
}

.LaboratoryTest .LaboratoryTestlist::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.38);
    box-shadow: 0px 4px 4px rgba(173, 181, 239, 0.58);
    border-radius: 32px;
}

.LaboratoryTest .LaboratoryTestlist .byList {
    display: flex;
    border-bottom: 1px solid rgba(113, 59, 219, 0.37);
    padding: 13px 8px;
    height: 79px;
    align-items: center;
}

.LaboratoryTest .LaboratoryTestlist .byList h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    color: #404040;
}

.LaboratoryTest .LaboratoryTestlist .byList p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #545050;
    margin: 0;
}

.LaboratoryTest .LaboratoryTestlist .byList span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    color: #713BDB;
    padding-right: 6px;
}

.LaboratoryTest .LaboratoryTestlist .byList .listname {
    width: 60%;
}

.LaboratoryTest .LaboratoryTestlist .byList .listdate {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.LaboratoryTest .PhysicianTestlist {
    background: rgba(255, 244, 219, 0.79) !important;
    box-shadow: 0px 4px 5px rgb(113 59 219 / 12%) !important;
    height: 809px;
    overflow: auto;
}

.LaboratoryTest .PhysicianTestlist::-webkit-scrollbar {
    width: 6px;
}

.LaboratoryTest .PhysicianTestlist::-webkit-scrollbar-thumb {
    background: #713BDB;
    border-radius: 3px;
}

.LaboratoryTest .PhysicianTestlist::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.38);
    box-shadow: 0px 4px 4px rgba(173, 181, 239, 0.58);
    border-radius: 32px;
}

.LaboratoryTest .PhysicianTestlist span {
    color: #D19811 !important;
}

.LaboratoryTest .PhysicianTestlist .byList {
    border-bottom: 1px solid rgba(237, 183, 56, 0.62) !important;
}

.Laboratory .close {
    position: absolute;
    top: -14px;
    right: -15px;
    cursor: pointer;
    background: #f2ecff;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(113, 59, 219, 0.19);
}

.Laboratory .close i {
    color: #F81414;
    font-size: 18px;
    line-height: 0;
}

.dualOpen {
    width: 21px;
    height: 21px;
    background: #FFFFFF;
    box-shadow: 0px 12px 53px -24px rgb(134 87 226 / 63%);
    border-radius: 3px;
    display: block;
    cursor: pointer;
    margin: auto;
    margin-top: 19px;
}

/* @media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 6%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 94%;
    }
} */

.eyeIcon {
    background: #713BDB;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.eyeIcon i {
    font-size: 15px;
    color: #fff;
    line-height: 0;
}

.LaboratoryTest .PhysicianTestlist .eyeIcon {
    background: #D19811;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.LaboratoryTest .PhysicianTestlist .eyeIcon i {
    font-size: 15px;
    color: #fff;
    line-height: 0;
}

.DateTestDetailsList {
    width: 100%;
    background: #F6F7FF;
    border: 1px solid rgba(174, 140, 239, 0.35);
    box-shadow: 0px 12px 53px -24px rgb(134 87 226 / 63%);
    border-radius: 9px;
    padding: 11px 11px;
    margin-bottom: 10px;
}

.testDetails {
    height: 850px;
    overflow-x: hidden;
    overflow-y: auto;
}

.testDetails::-webkit-scrollbar {
    width: 6px;
}

.testDetails::-webkit-scrollbar-thumb {
    background: #713BDB;
    border-radius: 3px;
}

.testDetails::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: 1px solid rgba(113, 59, 219, 0.38);
    border-radius: 32px;
}

.prescriptionFileList {
    border: 1px solid #f8e2af;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0px;
    box-shadow: 3px 5px 9px 0px #0000004f;
}

.PrescriptionAccordion {
    background: #f8e2af63;
    border: 1px solid #f8e2af;
    border-radius: 5px;
    padding: 9px 10px;
}

.PrescriptionAccordion h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: #3E3C3C;
    margin: 0;
}

.PrescriptionAccordion p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116.5%;
    color: #404040;
}

.prescriptionFileList span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    color: #0009;
    display: block;
}

.clickcolspan {
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 14px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clickcolspan i {
    color: #e9bd57;
    font-size: 16px;
}

.trandChart {
    background: linear-gradient(359deg, #723ecd 28%, rgb(255 0 0) 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    font-size: 20px !important;
    padding: 0px 3px 0px 0px !important;
    cursor: pointer;
    line-height: 0 !important;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(26 24 42 / 78%);
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 50%;
    background: #ffffff;
    border: 1px solid #673ab7a8;
    border-radius: 3px;
    margin: auto;
    position: relative;
    padding: 22px 36px;
}

.chartPrint {
    height: 350px;
}

.close {
    position: absolute;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 31px;
    height: 31px;
    right: -10px;
    top: -11px;
    cursor: pointer;
    border: 1px solid #4c1f99ef;
    z-index: 1;
}

.close i {
    color: #683ab7;
    font-size: 20px;
    line-height: 0;
}

.bi-download {
    position: absolute;
    bottom: 8px;
    right: 14px;
    font-size: 23px;
    cursor: pointer;
    color: #723ecd;
}

.firstTd {
    width: 70% !important;
}

.secoundTd {
    width: 5%;
}