.width {
  width: 90%;
  margin: auto;
  z-index: 1;
}

.m-signature-pad--body canvas {
  border: 1px solid black;  
}

.m-signature-pad--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 18px 15px 18px;
}

.m-signature-pad--footer .button.clear,
.save {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  background: #8700ff;
  border: none;
  color: #ffffff;
  margin-top: 5px;
}

.selected {
  border: 2px solid #00f3ff;
  box-shadow: 2px 2px 7px 0px #000000 !important;
}

.ColorOption {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 7px 0px #000000a1;
  margin: 0px 5px;
  cursor: pointer;
}

.ColorOptionSection {
  background-color: #fff;
  padding: 10px;
}

.Drawingcontent {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.bi-pencil-fill {
  font-size: 14px;
  line-height: 0;
  margin-bottom: -5px;
  margin-right: 5px;
}