.modal-content {
  background-color: #F6F7FF !important;
  box-shadow: 0px 4px 5px rgba(113, 59, 219, 0.12);
  border-radius: 5px;
  margin-top: 25px;
}

.close {
  position: absolute;
  right: -10px;
  top: -11px;
  z-index: 10;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 7px 1px #5c940d;
}

.close i {
  color: #5c940d;
  font-size: 25px;
}

.bi-x-circle-fill::before {
  vertical-align: -0.16em !important;
}

.modal-body {
  padding: 31px 33px 25px 33px;
}

.medicineDetails .medicinename {
  /* height: 85px; */
}

.medicinename h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 121.5%;
  color: #5c940d;
  margin: 0;
}

.medicineDetails p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #535353;
  margin: 0;
}

.medicineDetails h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px; 
  color: #000000;
  margin: 3px 5px;
}

.rup {
  margin: 3px 0px !important;
  font-family: 'Times New Roman', Times, serif !important;
}

.medicineDetails span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  color: #5c940d;
}

.medicineDetails button {
  background: rgba(255, 255, 255, 0.79);
  border: 1px solid #5c940d;
  box-shadow: 0px 12px 53px -24px #5c940d;
  border-radius: 5px;
  padding: 16px 49px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 14px;
  line-height: 110%;
  color: #DEA41C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medicineDetails button img {
  max-width: 16px;
  margin: 0px 3px;
}

.Storebelow {
  border: 1px solid #149EEC !important;
  box-shadow: 0px 12px 53px -24px #149EEC !important;
  color: #149EEC !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 25px;
  height: 26px;
  top: 50%;
  border-radius: 50px;
  padding: 6px;
  background: #5c940d;
  box-shadow: 0px 4px 8px rgb(2 64 12 / 26%);
  opacity: 1;
}

.medicineDetails button span {
  width: 10px;
  height: 10px;
}

.carousel-inner {
  width: 560px;
  height: 300px;
  margin: auto;
  border: 1px solid rgba(221, 221, 221, 0.54);
  box-shadow: 0px 12px 53px -24px rgb(2 64 12 / 26%);
  border-radius: 12px;
}

.carousel-item {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  margin: auto;
}

.Description h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 121.5%;
  color: #434242;
}

.Description p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 151%;
  color: #535353;
  margin: 0;
  text-align: justify;
}

.user h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 121.5%;
  color: #000;
}

.Effects_Uses {
  border: 1px solid #5c940d;
  border-radius: 5px;
  background: #fff;
  box-shadow: 4px 4px 9px 1px rgb(2 64 12 / 26%);
  margin-bottom: 15px;
}

.sideEffects {
  padding: 10px 0px 10px 10px;
  height: 100%;
  width: 100%;
}

.border-right {
  border-right: 1px solid #5c940d;
}

.user {
  padding: 10px 10px 0px 0px;
  height: 100%;
  width: 100%;
  position: relative;
}

.user p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 147%;
  color: #535353;
  text-align: justify;
  word-break: break-all;
  padding-right: 4px;
}

.userScroll {
  overflow: auto;
  position: absolute;
  top: 30px;
  bottom: 16px;
  right: 10px;
}

.sideEffects h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 121.5%;
  color: #000;
}

.sideEffects p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #323131;
  margin: 0;
  display: inline-block;
  padding: 0px 14px 2px 4px;
  word-break: break-word;
}

.sideEffects i {
  color: #5c940d;
  font-size: 20px;
  padding: 0px 0px 0px 13px;
}

.sideEffectsScroll {
  height: 180px;
  overflow: hidden;
  overflow-y: auto;
}

.SafetyScroll {
  height: 450px;
  overflow: auto;
}

.Safety img {
  background: #FFFFFF;
  border: 1px solid rgb(237 183 56);
  padding: 4px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  margin-right: 7px;
}

.Safety h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 121.5%;
  color: #434242;
}

.Safety h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 121.5%;
  color: #dfa525;
  margin: 0;
  letter-spacing: 1px;
}

.Safety p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 146%;
  color: #535353;
  text-align: justify;
  word-break: break-all;
  padding-right: 5px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 98%;
  }
}

.sliderimg {
  width: 85%;
  height: 246px;
}

.medicineDetails {
  padding: 5px 0px 0px 0px;
  /* padding: 25px 21px;
    border: 1px solid #cbbaf3;
    border-radius: 6px;
    background: #ffff;
    margin: 22px 0px; */
}

.Description p {
  overflow: auto;
  max-height: 373px;
  padding-right: 8px;
}

.carousel-indicators button {
  background-color: #5c940d;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #08c52852;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #5c940d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c5a19;
}

.Description {
  width: 100%;
  border: 1px solid #94d82d;
  box-shadow: 0px 2px 31px 7px rgb(2 64 12 / 14%);
  border-radius: 10px;
  padding: 16px 22px;
}

.somthingWentWrong {
  min-height: 284px;
  margin-top: 195px;
  display: flex;
  justify-content: center;
}

label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 121.5%;
  color: #5c940d;
  margin: 0;
}

.Category p::before {
  content: "●";
  padding-right: 4px;
  font-size: 20px;
  color: #4a7c02;
}

.ManufacturerAddress p,
.company p {
  font-size: 12px !important;
}

.add {
  padding: 12px 26px;
  background: #5c940d;
  box-shadow: 0px 11px 34px -5px #5c940d6e;
  border-radius: 6px;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: #FFFFFF;
  margin: 10px 22px 0px 0px;
}
.status p {
  color: #713bdb;
  font-size: 14px;
  padding-left: 15px;
  margin: 0;
}