<div class="tabcontent">
    <div class="card recent-sales">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="px-5 py-2">
                    <label for="customRange1" class="form-label">Date Filter range</label>
                    <input type="range" class="form-range" id="customRange1">
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title">Recent Sales <span>| February</span></h5>
                    <div class="row">
                        <div class="col-md-4">
                            <label>
                                <select class="datatable-selector">
                                    <option value="5">5</option>
                                    <option value="10" selected="">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-end">
                            <div class="datatable-search">
                                <input class="datatable-input w-100" placeholder="Search..." type="search"
                                    title="Search within table">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="CollapsePrescribed">
                    <ul class="m-d expand-list m-0 p-2">
                        <li data-md-content="200" class="Prescription">
                            <label name="tab" for="tab1" tabindex="-1" role="tab" class="tab_lab w-100">
                                <div class="row">
                                    <div class="col-md-2 d-flex align-items-center">
                                        <h5>January</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Opening Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1250.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Closing Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1471.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Payment</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1100.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Refund</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 500.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center text-end">
                                        <h6>Expense : <span>₹ 120.00</span></h6>
                                    </div>
                                </div>
                            </label>
                            <input type="checkbox" id="tab1" tabindex="0" class="tabCollapse"><span
                                class="open-close-icon"><i class="bi-caret-up-fill"></i></span>
                            <div class="contentCollapse">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Transaction Id</th>
                                            <th>Depreciation</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a>#2457</a></th>
                                            <td><a>At praesentium minu</a></td>
                                            <td><b>₹</b> 64</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2147</a></th>
                                            <td><a>Blanditiis dolor omnis similique</a></td>
                                            <td><b>₹</b> 47</td>
                                            <td><span class="Pending">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2049</a></th>
                                            <td><a>At recusandae consectetur</a></td>
                                            <td><b>₹</b> 147</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Ut voluptatem id earum et</a></td>
                                            <td><b>₹</b> 67</td>
                                            <td><span class="Rejected">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Sunt similique distinctio</a></td>
                                            <td><b>₹</b> 165</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li data-md-content="200" class="Prescription">
                            <label name="tab" for="tab1" tabindex="-1" role="tab" class="tab_lab w-100">
                                <div class="row">
                                    <div class="col-md-2 d-flex align-items-center">
                                        <h5>February</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Opening Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1250.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Closing Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1471.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Payment</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1100.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Refund</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 500.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center text-end">
                                        <h6>Expense : <span>₹ 120.00</span></h6>
                                    </div>
                                </div>
                            </label>
                            <input type="checkbox" id="tab1" tabindex="0" class="tabCollapse"><span
                                class="open-close-icon"><i class="bi-caret-up-fill"></i></span>
                            <div class="contentCollapse">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Transaction Id</th>
                                            <th>Depreciation</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a>#2457</a></th>
                                            <td><a>At praesentium minu</a></td>
                                            <td><b>₹</b> 64</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2147</a></th>
                                            <td><a>Blanditiis dolor omnis similique</a></td>
                                            <td><b>₹</b> 47</td>
                                            <td><span class="Pending">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2049</a></th>
                                            <td><a>At recusandae consectetur</a></td>
                                            <td><b>₹</b> 147</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Ut voluptatem id earum et</a></td>
                                            <td><b>₹</b> 67</td>
                                            <td><span class="Rejected">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Sunt similique distinctio</a></td>
                                            <td><b>₹</b> 165</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li data-md-content="200" class="Prescription">
                            <label name="tab" for="tab1" tabindex="-1" role="tab" class="tab_lab w-100">
                                <div class="row">
                                    <div class="col-md-2 d-flex align-items-center">
                                        <h5>March</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Opening Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1250.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Closing Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1471.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Payment</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1100.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Refund</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 500.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center text-end">
                                        <h6>Expense : <span>₹ 120.00</span></h6>
                                    </div>
                                </div>
                            </label>
                            <input type="checkbox" id="tab1" tabindex="0" class="tabCollapse"><span
                                class="open-close-icon"><i class="bi-caret-up-fill"></i></span>
                            <div class="contentCollapse">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Transaction Id</th>
                                            <th>Depreciation</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a>#2457</a></th>
                                            <td><a>At praesentium minu</a></td>
                                            <td><b>₹</b> 64</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2147</a></th>
                                            <td><a>Blanditiis dolor omnis similique</a></td>
                                            <td><b>₹</b> 47</td>
                                            <td><span class="Pending">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2049</a></th>
                                            <td><a>At recusandae consectetur</a></td>
                                            <td><b>₹</b> 147</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Ut voluptatem id earum et</a></td>
                                            <td><b>₹</b> 67</td>
                                            <td><span class="Rejected">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Sunt similique distinctio</a></td>
                                            <td><b>₹</b> 165</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li data-md-content="200" class="Prescription">
                            <label name="tab" for="tab1" tabindex="-1" role="tab" class="tab_lab w-100">
                                <div class="row">
                                    <div class="col-md-2 d-flex align-items-center">
                                        <h5>April</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Opening Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1250.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Closing Balance</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1471.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <table>
                                            <tr>
                                                <td>
                                                    <h6>Payment</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 1100.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Refund</h6>
                                                </td>
                                                <td>:</td>
                                                <td><span>₹ 500.00</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center text-end">
                                        <h6>Expense : <span>₹ 120.00</span></h6>
                                    </div>
                                </div>
                            </label>
                            <input type="checkbox" id="tab1" tabindex="0" class="tabCollapse"><span
                                class="open-close-icon"><i class="bi-caret-up-fill"></i></span>
                            <div class="contentCollapse">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Transaction Id</th>
                                            <th>Depreciation</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a>#2457</a></th>
                                            <td><a>At praesentium minu</a></td>
                                            <td><b>₹</b> 64</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2147</a></th>
                                            <td><a>Blanditiis dolor omnis similique</a></td>
                                            <td><b>₹</b> 47</td>
                                            <td><span class="Pending">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2049</a></th>
                                            <td><a>At recusandae consectetur</a></td>
                                            <td><b>₹</b> 147</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Ut voluptatem id earum et</a></td>
                                            <td><b>₹</b> 67</td>
                                            <td><span class="Rejected">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a>#2644</a></th>
                                            <td><a>Sunt similique distinctio</a></td>
                                            <td><b>₹</b> 165</td>
                                            <td><span class="Approved">Approved</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center py-3 fterButton">
        <span>Prev</span>
        <span>1</span>
        <span class="active">2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>....</span>
        <span>Next</span>
    </div>