<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div>
        <div class="close">
          <i class="bi-x-circle-fill" (click)="closePopup()"></i>
        </div>
        <div *ngIf="wrAttachmentDetails &&requestKeyDetails" class="fileDetails">
          <div *ngIf="wrAttachmentDetails.contentType ==='application/pdf'">
            <div class="d-flex justify-content-center align-items-center zoomPdf">
              <pdf-viewer [src]="imageBaseUrl+requestKeyDetails.userCode+'/'+wrAttachmentDetails.fileID" [rotation]="0"
                [original-size]="false" [show-all]="true" [fit-to-page]="true" [zoom]="pdfZoom"
                [zoom-scale]="'page-fit'" [stick-to-page]="false" [render-text]="true" [external-link-target]="'blank'"
                [autoresize]="false" [show-borders]="true" [classList]="" style="width: 100%; height: 780px;">
              </pdf-viewer>
            </div>
            <div class="text-center pdf-zoom">
              <i class="bi bi-zoom-in" (click)="zoomIn()"></i>
              <i class="bi bi-zoom-out" (click)="zoomOut()"></i>
            </div>
          </div>
          <div *ngIf="wrAttachmentDetails.contentType !=='application/pdf'">
            <img [src]="imageBaseUrl+requestKeyDetails.userCode+'/'+wrAttachmentDetails.fileID" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
