<div *ngIf="!setOtpScreen" class="modal-content">
    <router-outlet>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
        </ngx-spinner>
    </router-outlet>
    <span class="close" (click)="closePasswordPopup()"><i class="bi-x-lg"></i></span>
    <div>
        <span class="close"></span>
        <h2>Reset Password</h2>
        <p>Set the new password for your account so you can login and access all the features. This User ID: <span>{{userId}}</span></p>
        <label *ngIf="setQuestionsList.length > 0" style="color: #713BDB">Security Question</label>
        <label *ngIf="setQuestionsList.length > 0"
            style="display: block">{{selectedSecurityQuestion?.secQuestionDescription}}</label>
        <label class="securityError" *ngIf="secQuestionsFetched && setQuestionsList.length === 0">
            You have not setup your Security Questions yet. <br>
            To reset your password, please contact Customer Service.</label>
        <form *ngIf="setQuestionsList.length === 0" [formGroup]="resetPasswordParam" role="form">
            <input class="disableCursor" *ngIf="setQuestionsList.length > 0" formControlName="securityQestionAnswer"
                autofocus="" [type]="showSecAns === true ? 'text' : 'password'" name="Answer" placeholder="Answer">
            <i *ngIf="setQuestionsList.length > 0" [ngClass]="showSecAns === true ? 'bi bi-eye' : 'bi bi-eye-slash'"
                (click)="showHideSecAns()" id="Open-eyes"></i>
            <div class="validation-div resetPassErrorDiv">
                <app-validation-message [control]="resetPasswordParam.controls['securityQestionAnswer']"
                    [messages]="errorMessage.securityQestionAnswer">
                </app-validation-message>
            </div>
            <input class="disableCursor" formControlName="password" [type]="showPassword === true ? 'text' : 'password'"
                name="Newpassword" id="myInput" placeholder="Add New Password" (focus)="showPasswordPolicies()"
                (focusout)="hidePasswordPolicies()" (input)="showPasswordPolicies()" onpaste="return false;"
                ondrop="return false;" oncopy="return false" oncut="return false" ondrag="return false"
                autocomplete=off />
            <i [ngClass]="showPassword === true ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="showHidePassword()"
                id="Open-eyes"></i>
            <div class="errDiv">
                <div *ngIf="isAnyError()">
                    Password policy does not matched
                </div>
                <div *ngIf="isRequiredError()">
                    Password is required
                </div>
            </div>
            <input class="disableCursor" formControlName="confirmPassword"
                [type]="showConfirmPassword === true ? 'text' : 'password'" name="ConfirmPassword" id="myInput1"
                placeholder="Confirm New Password" onpaste="return false;" ondrop="return false;" oncopy="return false"
                oncut="return false" ondrag="return false" autocomplete=off />
            <i [ngClass]="showConfirmPassword === true ? 'bi bi-eye' : 'bi bi-eye-slash'"
                (click)="showHideConfirmPassword()" id="Open-eyes"></i>
            <div class="validation-div resetPassErrorDiv">
                <app-validation-message [control]="resetPasswordParam.controls['confirmPassword']"
                    [messages]="errorMessage.confirmPassword">
                </app-validation-message>
            </div>
            <div class="validation-div resetPassErrorDiv">
                <span *ngIf="passwordMismatch">Password does not match</span>
            </div>
            <input class="disableCursor" type="submit" value="Reset Password">
            <label class="remember">Remember Password ? <a (click)="closePasswordPopup()">Login</a> here</label>
        </form>
        <form *ngIf="setQuestionsList.length > 0" [formGroup]="resetPasswordParam" role="form">
            <input *ngIf="setQuestionsList.length > 0" formControlName="securityQestionAnswer" autofocus=""
                [type]="showSecAns === true ? 'text' : 'password'" name="Answer" placeholder="Answer">
            <i *ngIf="setQuestionsList.length > 0" [ngClass]="showSecAns === true ? 'bi bi-eye' : 'bi bi-eye-slash'"
                (click)="showHideSecAns()" id="Open-eyes"></i>
            <div class="validation-div resetPassErrorDiv">
                <app-validation-message [control]="resetPasswordParam.controls['securityQestionAnswer']"
                    [messages]="errorMessage.securityQestionAnswer">
                </app-validation-message>
            </div>
            <input formControlName="password" [type]="showPassword === true ? 'text' : 'password'" name="Newpassword"
                id="myInput" placeholder="Add New Password" (focus)="showPasswordPolicies()"
                (focusout)="hidePasswordPolicies()" (input)="showPasswordPolicies()" onpaste="return false;"
                ondrop="return false;" oncopy="return false" oncut="return false" ondrag="return false"
                autocomplete=off />
            <i [ngClass]="showPassword === true ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="showHidePassword()"
                id="Open-eyes"></i>
            <!-- <div class="validation-div resetPassErrorDiv">
                <app-validation-message [control]="resetPasswordParam.controls['password']"
                    [messages]="errorMessage.password">
                </app-validation-message>
            </div> -->
            <div *ngIf="isShowPasswordPolicy" class="passwordCnd">
                <label class="labelPosition"
                    [ngClass]="resetPasswordParam.controls['password'].hasError('required') || resetPasswordParam.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="position: unset; color: unset;">
                        {{ resetPasswordParam.controls['password'].hasError('required') ||
                        resetPasswordParam.controls['password'].hasError('minlength') ?
                        'cancel'
                        :
                        'check_circle' }}
                    </i>
                    Must be at least 8 characters!
                </label>
                <label class="col labelPosition"
                    [ngClass]="resetPasswordParam.controls['password'].hasError('required') || resetPasswordParam.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="position: unset; color: unset;">
                        {{ resetPasswordParam.controls['password'].hasError('required') ||
                        resetPasswordParam.controls['password'].hasError('hasNumber') ?
                        'cancel'
                        :
                        'check_circle' }}
                    </i>
                    Must contain at least 1 number!
                </label>
                <label class="col labelPosition"
                    [ngClass]="resetPasswordParam.controls['password'].hasError('required') || resetPasswordParam.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="position: unset; color: unset;">
                        {{ resetPasswordParam.controls['password'].hasError('required') ||
                        resetPasswordParam.controls['password'].hasError('hasCapitalCase') ?
                        'cancel' :
                        'check_circle' }}
                    </i>
                    Must contain at least 1 Capital letter!
                </label>
                <label class="col labelPosition"
                    [ngClass]="resetPasswordParam.controls['password'].hasError('required') || resetPasswordParam.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="position: unset; color: unset;">
                        {{ resetPasswordParam.controls['password'].hasError('required') ||
                        resetPasswordParam.controls['password'].hasError('hasSmallCase') ?
                        'cancel' :
                        'check_circle' }}
                    </i>
                    Must contain at least 1 Small letter!
                </label>
                <label class="col labelPosition"
                    [ngClass]="resetPasswordParam.controls['password'].hasError('required') || resetPasswordParam.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    <i class="material-icons" style="position: unset; color: unset;">
                        {{ resetPasswordParam.controls['password'].hasError('required') ||
                        resetPasswordParam.controls['password'].hasError('hasSpecialCharacters')
                        ? 'cancel' :
                        'check_circle' }}
                    </i>
                    Must contain at least 1 Special Character!
                </label>
            </div>
            <div class="errDiv">
                <div *ngIf="isAnyError()">
                    Password policy does not matched
                </div>
                <div *ngIf="isRequiredError()">
                    Password is required
                </div>
            </div>
            <input formControlName="confirmPassword" [type]="showConfirmPassword === true ? 'text' : 'password'"
                name="ConfirmPassword" id="myInput1" placeholder="Confirm New Password" onpaste="return false;"
                ondrop="return false;" oncopy="return false" oncut="return false" ondrag="return false"
                autocomplete=off />
            <i [ngClass]="showConfirmPassword === true ? 'bi bi-eye' : 'bi bi-eye-slash'"
                (click)="showHideConfirmPassword()" id="Open-eyes"></i>
            <div class="validation-div resetPassErrorDiv">
                <app-validation-message [control]="resetPasswordParam.controls['confirmPassword']"
                    [messages]="errorMessage.confirmPassword">
                </app-validation-message>
            </div>
            <div class="validation-div resetPassErrorDiv">
                <span *ngIf="passwordMismatch">Password does not match</span>
            </div>
            <input type="submit" value="Reset Password"
                (click)="resetPassword(resetPasswordParam.value, resetPasswordParam.valid)">
            <label class="remember">Remember Password ? <a (click)="closePasswordPopup()">Login</a> here</label>
        </form>
    </div>
</div>
<div *ngIf="setOtpScreen">
    <app-otp-validation [screenCode]="screenCode" [formData]="resetPassFormData" (closeOTP)="closePasswordPopup()">
    </app-otp-validation>
</div>