<div class="content">
    <!-- <button (click)="closePopUp(false)">close</button> -->
    <ul>
        <li>
            <p>Baidurja Khunte</p>
            <span>093451329</span>
        </li>
        <li>
            <p>Baidurja Khunte</p>
            <span>093451329</span>
        </li>
        <li>
            <p>Baidurja Khunte</p>
            <span>093451329</span>
        </li>
        <li>
            <p>Baidurja Khunte</p>
            <span>093451329</span>
        </li>
        <li>
            <p>Lorem, ipsum dolor.</p>
            <span>093451329</span>
        </li>
        <li>
            <p>Baidurja Khunte</p>
            <span>093451329</span>
        </li>
        <li>
            <p>Baidurja Khunte</p>
            <span>093451329</span>
        </li>
    </ul>
</div>