<div class="tabcontent">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="header">
                    <h2 class="mx-3">Current</h2>
                    <h2 class="mx-3">WorkLoad</h2>
                </div>
                <div class="content">
                    <div class="d-flex justify-content-center w-100 align-items-center">
                        <div class="ReprtBox">
                            <h6>30</h6>
                            <p>Work Request Pending</p>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-around align-items-center">
                        <div class="ReprtBox">
                            <h6>30</h6>
                            <p>Work Request Opened Today</p>
                        </div>
                        <div class="ReprtBox">
                            <h6>30</h6>
                            <p>Work Request Pending over 2 Days</p>
                        </div>
                    </div>
                    <div class="d-flex tableContent">
                        <div class="request ">
                            <p>Request Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="w-100 border">
                                <p>Pending</p>
                            </div>
                            <div class="d-flex">
                                <div class="w-50 border">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="w-100 border">
                                <p>New</p>
                            </div>
                            <div class="d-flex">
                                <div class="w-50 border">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>UnAssigned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 DuratioN">
            <div class="box">
                <div class="header">
                    <h2>Workload Completion DuratioN</h2>
                </div>
                <div class="content">
                    <div class="d-flex justify-content-center w-100 align-items-center">
                        <div class="ReprtBox">
                            <h6>30</h6>
                            <p>Work Request closed today</p>
                        </div>
                    </div>
                    <div class="d-flex w-100 justify-content-around align-items-center">
                        <div class="ReprtBox">
                            <h6>30</h6>
                            <p>Avg. Work Request Closure (March,2024)</p>
                        </div>
                        <div class="ReprtBox">
                            <h6>30</h6>
                            <p>Avg. Work Request Closure (Year 2024)</p>
                        </div>
                    </div>
                    <div class="d-flex tableContent">
                        <div class="request ">
                            <p>Request Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="w-100 border">
                                <p>Closure Duration</p>
                            </div>
                            <div class="d-flex">
                                <div class="w-50 border">
                                    <p>Average</p>
                                </div>
                                <div class="w-50 border">
                                    <p>Your</p>
                                </div>
                                <div class="w-50 border">
                                    <p>Best</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    <div class="d-flex tableList">
                        <div class="request border text-center">
                            <p>Type</p>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex">
                                <div class="w-50 border text-center">
                                    <p>Current</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>2+ Days</p>
                                </div>
                                <div class="w-50 border text-center">
                                    <p>Assigned</p>
                                </div>
                            </div>
                        </div> 
                    </div> 

                </div>
            </div>
        </div>
    </div>
</div>
