<router-outlet>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    </ngx-spinner>
</router-outlet>
<div class="DeliveryAgent">
    <div class="DeliveryAgentDetails">
        <div class="row">
            <div class="col-md-12">
                <div class="displayAllDetails">
                    <h2>Delivery Agent</h2>
                    <div class="names">
                        <div class="row">
                            <div class="col-md-4 d-flex">
                                <div class="img">
                                    <img src="assets/DeliveryAgentPic.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12 Name">
                                            <label for="Name">Name</label>
                                            <p>Pilavullakandi Thekkeparambil Usha</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <div class="col-md-12">
                                            <label for="FirstName">Address</label>
                                            <p>Astra Towers, ASO-211, 2C/1,</p>
                                            <p>Action Area IIC, Newtown,</p>
                                            <p>Kolkata, West Bengal 700161</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="col-md-12">
                                            <label for="DateofBirth">Date of Birth</label>
                                            <p>20.08.1978</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label for="Gender">Gender</label>
                                            <p>Male</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label for="Gender">Marital Status</label>
                                            <p>Male</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label for="ContactNumber">Contact Number</label>
                                            <p>+91 7633953812</p>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12">
                                            <label for="Mail_id">Mail id</label>
                                            <p>ajoykumar789@gmail.com </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="document">
        <div class="row">
            <div class="col-md-6">
                <div class="documentBox">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi-file-earmark-pdf-fill"></i>
                        <i class="bi-eye-fill"></i>
                    </div>
                    <div class="d-flex flex-column px-2">
                        <label for="AdhaarNo.">Adhaar No.</label>
                        <p>9231-3245-9181</p>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="Approve">Approve</button>
                        <button class="Decline">Decline</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="documentBox">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi-file-earmark-pdf-fill"></i>
                        <i class="bi-eye-fill"></i>
                    </div>
                    <div class="d-flex flex-column px-2">
                        <label for="AdhaarNo.">PAN No.</label>
                        <p>AWZY9181</p>
                    </div>
                    <div class="d-flex flex-column">
                        <i class="bi-x-circle-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="documentBox">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi-file-earmark-pdf-fill"></i>
                        <i class="bi-eye-fill"></i>
                    </div>
                    <div class="d-flex flex-column px-2">
                        <label for="AdhaarNo.">Voter Card</label>
                        <p>YA21PRT201E</p>
                    </div>
                    <div class="d-flex flex-column">
                        <i class="bi-check-circle-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="documentBox">
                    <div class="d-flex flex-column align-items-center">
                        <i class="bi-file-earmark-pdf-fill"></i>
                        <i class="bi-eye-fill"></i>
                    </div>
                    <div class="d-flex flex-column px-2">
                        <label for="AdhaarNo.">Voter Card</label>
                        <p>YA21PRT201E</p>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="Approve">Approve</button>
                        <button class="Decline">Decline</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 px-4 mt-4">
                <div class="form-floating ">
                    <textarea name="RejectionReason" cols="30" rows="10" placeholder="Rejection Reason" id="Laboratory"
                        class="form-control"></textarea>
                    <label for="Laboratory">Rejection Reason</label>
                </div>
            </div>
            <div class="col-md-6 text-end mt-4 footer-btn">
                <button class="Accept">Accept</button>
            </div>
            <div class="col-md-6 text-start mt-4 footer-btn">
                <button class="Reject">Reject</button>
            </div>
        </div>
    </div>
</div>