<router-outlet>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    </ngx-spinner>
</router-outlet>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="close" (click)="closePopUp(false)">
            <i class="bi-x-circle-fill"></i>
        </div>
        <div class="modal-body">
            <h2>Company Information Request Approval {{WorkRequestDetails.isDisabled?' - '+WorkRequestDetails.caseCode:''}}</h2>
            <div class="CompanyInformationContent row" *ngIf="companyInformation && !somthingWentWrong">
                <div class="col-md-12">
                    <div class="Details">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="drName print">
                                    <label for="LegalBusinessName">Legal Business Name</label>
                                    <p>{{companyInformation.legalBusinessName}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="print">
                                    <label for="CompanyGSTN">Company GSTN</label>
                                    <p>{{companyInformation.companyGSTN}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="print">
                                    <label for="CompanyIdentityNumber(CIN)">Company Identity Number (CIN)</label>
                                    <p>{{companyInformation.companyCIN}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="print">
                                    <label for="CompanyGSTN">Company PAN</label>
                                    <p>{{companyInformation.companyGSTN}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="print">
                                    <label for="CompanyIdentityNumber(CIN)">Company TAN</label>
                                    <p>{{companyInformation.companyCIN}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="print Address">
                                    <label for="OfficeAddress">Office Address</label>
                                <p [innerHTML]="companyInformation.addressLine |addressLine" *ngIf="companyInformation.addressLine"></p>
                                <p>{{companyInformation.landmark}}</p>
                                <p>{{companyInformation.city}}, {{companyInformation.stateName}} - {{companyInformation.pincode}}</p>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3" *ngIf="caseLogdetails && WorkRequestDetails.isDisabled">
                                <div class="CaseLog">
                                    <h2>Case Log</h2>
                                    <div class="row">
                                        <div class="col-md-12 my-2" *ngFor="let wrCaseLogEntry of caseLogdetails.caseLogInformationList">
                                            <p>{{wrCaseLogEntry.caseLogUserName}} add at {{dateFormat(wrCaseLogEntry.caseLogTimestamp)|date:'d-MMM-y @
                                                h:m a'}}</p>
                                              <p>{{wrCaseLogEntry.caseLogText}}</p>
                                        </div>
                                        <div *ngIf="!caseLogdetails.caseLogInformationList.length">
                                            <p>No caselog is there</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3 document">
                    <div class="row">
                        <div class="col-md-4 mt-2"
                            *ngFor="let wrAttachmentDetails of companyInformation.fileDetailsList;let i = index">
                            <div class="documentBox">
                                <div class="d-flex">
                                    <div class="d-flex flex-column align-items-center">
                                        <i class="bi-file-earmark-pdf-fill"
                                            *ngIf="wrAttachmentDetails.contentType === 'application/pdf'"></i>
                                        <i class="bi bi-images"
                                            *ngIf="wrAttachmentDetails.contentType !== 'application/pdf'"></i>
                                        <i class="bi-eye-fill" (click)="openFile(wrAttachmentDetails)"></i>
                                    </div>
                                    <div class="d-flex flex-column px-2">
                                        <label for="CompanyPAN">{{wrAttachmentDetails.fileType==='TAN'?'Tax
                                            Deduction
                                            Account No':wrAttachmentDetails.fileType==='CIN'?'Company
                                            Identification':wrAttachmentDetails.fileType==='CPN'?'Company PAN
                                            Card':wrAttachmentDetails.fileType==='GST'?'Company GSTN
                                            Registration':''}}</label>
                                        <p>{{wrAttachmentDetails.documentNumber}}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <button class="Approve" *ngIf="wrAttachmentDetails.documentStatus === 2 && !WorkRequestDetails.isDisabled"
                                        (click)="attachmenStatusChange(wrAttachmentDetails,'A',i,companyInformation.userID)">Approve</button>
                                    <button class="Decline" *ngIf="wrAttachmentDetails.documentStatus === 2  && !WorkRequestDetails.isDisabled"
                                        (click)="attachmenStatusChange(wrAttachmentDetails,'R',i,companyInformation.userID)">Decline</button>
                                    <i class="bi-x-circle-fill" *ngIf="wrAttachmentDetails.documentStatus === 3"></i>
                                    <i class="bi-check-circle-fill"
                                        *ngIf="wrAttachmentDetails.documentStatus === 0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="error">
                        <small>{{allFileStatusCheanedIndicatorErrMSG}}</small>
                    </div>
                </div>
                <div class="col-md-12 mb-3" *ngIf="!WorkRequestDetails.isDisabled">
                    <div class="print">
                        <label for="OfficeAddress">Rejection Reason</label>
                        <textarea name="RejectionReason" id="" cols="30" rows="10"
                            [(ngModel)]="rejectionReason"></textarea>
                    </div>
                    <div class="error">
                        <small>{{rejectionReasonError}}</small>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="documentUpload">
                        <div class="row">
                            <div class="col-md-5 text-start mt-3" *ngIf="!WorkRequestDetails.isDisabled">
                                <button class="Reviewed" (click)="authorisedSignatoryApproval('A')">Reviewed &
                                    Approved</button>
                            </div>
                            <div class="col-md-4 text-start mt-3" *ngIf="!WorkRequestDetails.isDisabled">
                                <button class="Reject" (click)="authorisedSignatoryApproval('R')">Reviewed &
                                    Reject</button>
                            </div>
                            <div class="col-md-3 text-end d-flex justify-content-end align-items-center  mt-3">
                                <button class="Cancel" (click)="closePopUp(false)">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="CompanyInformationContent row" *ngIf="somthingWentWrong">
                <p style="color: red;">Something went wrong, Please try after sometime</p>
            </div>
            <div id="Manage1" class="position-absolute fileModal container" *ngIf="showFile">
                <div id="myModal1" class="modal1" tabindex="-1" role="dialog">
                    <div class="container">
                        <app-view-file [wrAttachmentDetails]="wrAttachmentDetails"
                            (close)="closeFile()"></app-view-file>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>